<a href="https://colab.research.google.com/github/Tajjuu/Assignment-DAY-2-/blob/main/Assignment%20Day%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
# Brand names arranging in ascedning order
list_of_brands1 = ["Nike","Coca-cola","Pepsi","Adidas","Sony","Reebok","Audi","Zebronic","Bmw","Royal Enfield"]

In [32]:
list_of_brands2 = ["Dell","Lg","Samsung","Bmw","Porsche","Gucci","Colgate","Tesla","Lenovo,","Louis Vuitton"]

In [33]:
sorted (list_of_brands1 + list_of_brands2)

['Adidas',
 'Audi',
 'Bmw',
 'Bmw',
 'Coca-cola',
 'Colgate',
 'Dell',
 'Gucci',
 'Lenovo,',
 'Lg',
 'Louis Vuitton',
 'Nike',
 'Pepsi',
 'Porsche',
 'Reebok',
 'Royal Enfield',
 'Samsung',
 'Sony',
 'Tesla',
 'Zebronic']

In [30]:
# find out the brand which are overlapping in both cases
set1 = set(list_of_brands1)
set2 = set(list_of_brands2)
overlapping = list(set1 & set2)
print(overlapping)

['Bmw']

In [41]:
# Range with even number starting from 20 to 40
for i in range(20,40,2):
  print(i, end =" ")
print()

20 22 24 26 28 30 32 34 36 38